{% extends 'base.html' %}

{% block title %}
currency exchange
{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col-sm">
        <a href="{% url 'index' %}">Index Link</a>
    </div>
    <div class="col-sm">
    {% if request.user.is_anonymous %}
    <a href="{% url 'account:registration' %}">SingUp</a>
    <a href="{% url 'login' %}">login</a>
        {% else %}
    <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>
</div>

{% endblock content %}