{% extends 'base.html' %}

{% block title %}Rate{% endblock title %}

{% block content %}

<h2 class="text-center">Latest Rates</h2>

{% load crispy_forms_tags %}

<form class=" mx-auto col-sm-6 col-md-5 col-lg-4 mb-5" method="get">
  {{ filter.form|crispy }}

      <button type="submit" class="btn btn-primary col-sm-6 col-md-5 col-lg-4 mt-5 mx-auto d-block">Changes</button>

</form>



<table class="table table-sm table-success">
  <thead>
    <tr>
      <th scope="col">DATA</th>
      <th scope="col">CURRENCY</th>
      <th scope="col">BUY</th>
      <th scope="col">SALE</th>
      <th scope="col">SOURCE</th>
    </tr>
  </thead>
  <tbody>
  {% for rate in rates %}
    <tr>
      <td>{{ rate.created|date:'Y-m-d' }} &nbsp &nbsp &nbsp {{ rate.created|date:'H:i' }}</td>
      <td>{{ rate.get_currency_display }}</td>
      <td>{{ rate.buy }}</td>
      <td>{{ rate.sale }}</td>
      <td>{{ rate.get_source_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% include 'includes/pagination.html' %}

{% endblock content %}